// Media query manager
/*
0 - 600px:     Phone
600 - 1000px    Tablet portrait
1000 - 1200px   Tablet landscape
1200 - 1800px  Normal style
1800+          Big desktop

- phone
- tab-port
- tab-land
- big desktop

1em = 16px
*/

@mixin breakpoints($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == phone-big {
    @media only screen and (max-width: 47.95em) {
      // 767px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 62.5em) {
      // 1000px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}

@mixin text-color {
  color: #fff;
  text-shadow: 0 0 5px #000;
}

@mixin icon-first {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 3rem;
}
