// background
$violet: #3b3154;
$dark-pink: #d05a94;

// main colors
$light-pink-main: #e54875;
$light-pink-secondary: #ff88aa;
$light-pink-tertiary: #e53b6c;
$dark-pink-main: #562b3f;
$dark-blue: #293378;
