.header {
  &__search {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    @include breakpoints(phone) {
      flex-direction: column;
      align-items: center;
    }

    &--city {
      font-size: 4rem;
      font-family: "Permanent Marker", cursive;

      @include breakpoints(phone) {
        margin-bottom: 3rem;
      }
    }
    &__input {
      display: flex;
      align-items: center;
      margin-left: 3rem;

      @include breakpoints(phone) {
        margin-left: 0;
      }
      &--bar {
        height: 2.5rem;
        font-family: "Permanent Marker", cursive;
        font-size: 2.5rem;
        border: none;
      }

      &--bar:focus {
        outline: none;
      }

      &--search-icon {
        font-size: 1.6rem;
        margin-left: -2.5rem;
        cursor: pointer;
      }
    }
  }
}
