.app {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  @include breakpoints(phone-big) {
    margin-top: 0;
  }
}

.main {
  width: 75rem;
  min-height: 55rem;
  background-image: linear-gradient(
    to right,
    rgba(#000, 0.9),
    rgba($dark-blue, 0.7)
  );
  border-radius: 1rem;

  @include breakpoints(phone-big) {
    border-radius: 0;
  }

  &__weather {
    margin: 2rem 3rem;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--degree {
        display: flex;
        .fahrenheit,
        .celsius {
          background-color: $dark-pink-main;
          border-radius: 10rem;
          font-size: 2rem;
          width: 4rem;
          height: 4rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .degree {
            position: absolute;
            top: 6px;
            left: 5px;
          }
        }
        .fahrenheit {
          margin-right: 0.5rem;
        }

        .active-temp {
          background-color: $light-pink-main;
        }
      }

      &--city {
        display: flex;
        align-items: center;
        position: relative;
        &-input {
          border-radius: 100px;
          height: 3.2rem;
          border: none;
          background-color: rgba($light-pink-main, 0.6);
          padding-left: 3.5rem;
          font-size: 2rem;
          width: 22rem;
          color: #fff;
          @include breakpoints(phone) {
            width: 18rem;
          }
        }
        &-input::placeholder {
          color: #fff;
        }
        &-input:focus {
          outline: none;
        }
        &-search {
          background-color: $light-pink-tertiary;
          width: 3rem;
          height: 3rem;
          position: absolute;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &-icon {
            -webkit-mask-image: url("../img/find.svg");
            mask-image: url("../img/find.svg");
            -webkit-mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: #fff;
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            cursor: pointer;
          }
        }
      }
    }

    &__mid {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 2rem;
      &--temp {
        font-size: 9rem;
      }

      &--date {
        font-size: 2rem;
      }
      &--city {
        font-size: 8rem;
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      &__forecast {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 12rem;
          height: 12rem;
          background-color: $dark-pink-main;
          border-radius: 50%;
          &--day {
            font-size: 2rem;
          }
          &--icon {
            -webkit-mask-image: url("../img/sun.svg");
            mask-image: url("../img/sun.svg");
            -webkit-mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-size: cover;
            mask-repeat: no-repeat;
            width: 4rem;
            height: 4rem;
            background-color: #fff;
          }
          &--temp {
            font-size: 2rem;
          }
          @include breakpoints(phone-big) {
            margin-top: 4rem;
            margin-right: 1rem;
          }
        }

        &-item:hover {
          background-color: $light-pink-main;
          cursor: pointer;
        }

        @include breakpoints(phone-big) {
          margin-top: 0;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }

      &__details {
        display: flex;
        border-radius: 100px;
        height: 3.2rem;
        border: none;
        // background-color: rgba($light-pink-main, 0.6);
        background-image: linear-gradient(
          to right,
          rgba($light-pink-main, 0.7),
          $dark-pink-main
        );
        font-size: 1.5rem;
        position: relative;
        margin-top: 2rem;

        // &--unroll {
        //   background-color: $light-pink-tertiary;
        //   width: 3rem;
        //   height: 3rem;
        //   position: absolute;
        //   border-radius: 50%;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;

        //   &-icon {
        //     -webkit-mask-image: url("../img/right.svg");
        //     mask-image: url("../img/right.svg");
        //     -webkit-mask-size: cover;
        //     -webkit-mask-repeat: no-repeat;
        //     mask-size: cover;
        //     mask-repeat: no-repeat;
        //     background-color: #fff;
        //     width: 1.8rem;
        //     height: 1.8rem;
        //     position: absolute;
        //     cursor: pointer;
        //   }
        // }

        &__right {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-evenly;
          // margin-left: -3rem;

          &--pressure,
          &--humidity,
          &--wind:not(:last-of-type) {
            margin-right: 0 1rem;
            @media screen and (max-width: 460px) {
              margin-bottom: 1rem;
            }
          }

          @include breakpoints(phone-big) {
            margin-left: 0;
          }

          @media screen and (max-width: 460px) {
            flex-direction: column;
            padding: 1.4rem;
          }
        }

        @media screen and (max-width: 460px) {
          height: auto;
          width: fit-content;
          margin: 2rem auto;
        }
      }
    }
  }
}

.active {
  background-color: $light-pink-main;
}
