.app {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.main {
  width: 70vw;
  height: 55rem;
  background-image: linear-gradient(
    to right,
    rgba(#000, 0.9),
    rgba($dark-blue, 0.7)
  );
  border-radius: 1rem;

  &__weather {
    margin: 2rem 3rem;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--degree {
        display: flex;
        .fahrenheit,
        .celsius {
          background-color: $light-pink-main;
          border-radius: 10rem;
          font-size: 2rem;
          width: 4rem;
          height: 4rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .degree {
            position: absolute;
            top: 6px;
            left: 5px;
          }
        }
        .fahrenheit {
          margin-right: 0.5rem;
        }
      }

      &--city {
        display: flex;
        align-items: center;
        position: relative;
        &-input {
          border-radius: 100px;
          height: 3.2rem;
          border: none;
          background-color: rgba($light-pink-main, 0.6);
          padding-left: 3.5rem;
          font-size: 2rem;
          width: 22rem;
          color: #fff;
        }
        &-input:focus {
          outline: none;
        }
        &-search {
          background-color: $light-pink-tertiary;
          width: 3rem;
          height: 3rem;
          position: absolute;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &-icon {
            -webkit-mask-image: url("../img/find.svg");
            mask-image: url("../img/find.svg");
            -webkit-mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: #fff;
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            cursor: pointer;
          }
        }
      }
    }

    &__mid {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 2rem;
      &--temp {
        font-size: 9rem;
      }

      &--date {
        font-size: 2rem;
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      &__forecast {
        margin-top: 14rem;
        display: flex;
        justify-content: space-between;
        &-item {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 12rem;
          height: 12rem;
          background-color: $dark-pink-main;
          border-radius: 50%;
          &--day-1 {
            font-size: 2rem;
          }
          &--icon-1 {
            -webkit-mask-image: url("../img/sun.svg");
            mask-image: url("../img/sun.svg");
            -webkit-mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-size: cover;
            mask-repeat: no-repeat;
            width: 4rem;
            height: 4rem;
            background-color: #fff;
          }
          &--temp-1 {
            font-size: 2rem;
          }
        }

        &-item:hover {
          background-color: $light-pink-main;
          cursor: pointer;
        }
      }

      &__details {
        display: flex;
        border-radius: 100px;
        height: 3.2rem;
        border: none;
        // background-color: rgba($light-pink-main, 0.6);
        background-image: linear-gradient(
          to right,
          rgba($light-pink-main, 0.7),
          $dark-pink-main
        );
        font-size: 1.5rem;
        position: relative;
        margin-top: 2rem;

        &--unroll {
          background-color: $light-pink-tertiary;
          width: 3rem;
          height: 3rem;
          position: absolute;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &-icon {
            -webkit-mask-image: url("../img/right.svg");
            mask-image: url("../img/right.svg");
            -webkit-mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: #fff;
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            cursor: pointer;
          }
        }

        &__right {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-evenly;
          margin-left: -3rem;
        }
      }
    }
  }
}
