.main {
  &__background {
    background-image: url("../img/cloud_1920.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 89vh;
    position: relative;
    filter: blur(4px);
  }
  &__cart {
    position: absolute;
    top: 2rem;
    display: block;
    width: inherit;
    padding: 0 15rem;

    &__top {
      display: flex;
      justify-content: space-around;
      &--city {
        font-size: 8rem;
        @include text-color;
      }
      &--temp {
        font-size: 9rem;
        @include text-color;
      }
    }

    &__mid {
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      color: white;
      width: 35rem;
      margin-top: 3rem;

      &--day {
        font-size: 5rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        @include text-color;
      }

      &--humidity {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        .icon-humidity {
          background-image: url("../img/humidity.png");
          @include icon-first;
        }

        .value-humidity {
          color: #000;
          text-shadow: 0 0 1px #000;
        }
      }

      &--wind {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .icon-wind {
          background-image: url("../img/wind.png");
          @include icon-first;
        }

        .value-wind {
          color: #000;
          text-shadow: 0 0 1px #000;
        }
      }

      &--pressure {
        display: flex;
        align-items: center;
        .icon-pressure {
          background-image: url("../img/pressure.png");
          @include icon-first;
        }

        .value-pressure {
          color: #000;
          text-shadow: 0 0 1px #000;
        }
      }
    }
  }
}
